In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>

In [3]:
from transformers import AutoTokenizer

import pandas as pd

In [4]:
bert_model_name = 'bert-base-cased'
xlmr_model_name = 'xlm-roberta-base'
bert_tokenizer = AutoTokenizer.from_pretrained(bert_model_name)
xlmr_tokenizer = AutoTokenizer.from_pretrained(xlmr_model_name)

In [5]:
text = 'Jack Sparrow loves New York!'
bert_tokens = bert_tokenizer(text, return_tensors='pt').tokens()
bert_tokens

['[CLS]', 'Jack', 'Spa', '##rrow', 'loves', 'New', 'York', '!', '[SEP]']

In [6]:
xlmr_tokens = xlmr_tokenizer(text, return_tensors='pt').tokens()
xlmr_tokens

['<s>', '▁Jack', '▁Spar', 'row', '▁love', 's', '▁New', '▁York', '!', '</s>']

In [7]:
pd.DataFrame([bert_tokens, xlmr_tokens], index=['BERT', 'XLM-R'])

           0      1      2       3      4    5     6      7      8     9
BERT   [CLS]   Jack    Spa  ##rrow  loves  New  York      !  [SEP]  None
XLM-R    <s>  ▁Jack  ▁Spar     row  ▁love    s  ▁New  ▁York      !  </s>